.container-header-anime {
    max-width: 1550px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.header-content {
    position: relative;
}

.banner-header {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.title-header {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    z-index: 1;
    text-align: right;
}

.anime-section {
    margin-top: 70px;
    padding: 0 20px;
}

.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #0056b3;
}

.load-more-button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.swiper-container {
    max-width: 1300px;
    margin: auto;
}
