/* Estilos del HeaderAnime */

.container-header-anime {
    max-width: 1550px;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.header-content {
    position: relative;
}

.banner-header {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 0; /* Asegura que esté detrás del título */
}

.title-header {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    z-index: 1; /* Asegura que el título esté sobre la superposición */
    text-align: right;
}

/* Estilos para la sección de tarjetas de anime */

.anime-section {
    margin-top: 70px; /* Ajusta el margen superior para separar el header de las tarjetas */
    padding: 0 20px; /* Añade un poco de padding para evitar que las tarjetas lleguen hasta el borde */
}



/* Estilos para el botón de carga */
.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición para el color de fondo */
}

/* Estilos para el botón al pasar el ratón por encima */
.load-more-button:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro */
}

/* Estilos para el botón al estar deshabilitado */
.load-more-button:disabled {
    background-color: #c0c0c0; /* Color de fondo gris */
    cursor: not-allowed; /* Cursor de no permitido */
}

.swiper-container {
    max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
   margin: auto;
    
}
