.card-genre-container {
    margin: 0 auto;
    max-width: 1300px;
}

.mySwiper {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    margin: 10px;
    width: 500px; /* Ajusta el tamaño según tus necesidades */
    display: inline-block;
}

/* Asegúrate de que el slider se adapte al tamaño de las cartas */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
