.container-landingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.mostWatched-media{
    display: flex;
    gap: 5rem;
    margin-left: 1rem;
}

.mostWatched-country{
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75rem;
}

.mostWatched-country-title{
    font-size: 3rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.container-continueWatching{
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 4rem;
    text-align: center;
    height: 28rem;
}

.container-recently-adde{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    background-color: #2F3241;
    border-top: solid 2px #F08080;
}

.recently-added-title{
    font-size: 2.5rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-bottom: solid #F08080;
    align-self: flex-start;
    margin-left: 10.5rem;
    margin-bottom: 0;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.continue-watiching-title{
    font-size: 2.5rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-bottom: solid #F08080;
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.transition-css{
    transition: transform 0.3s ease, color 0.s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */

}

.recently-added-title:hover {
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.continue-watiching-title:hover{
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.mostWatched-country-title:hover {
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 

}

@media screen and (width < 912px) {
    .header{
        width: 100%;
    }

    .container-explorer{
        width: 100%;
    }

    .container-logo{
        width: 100%;
    }

    .button2{
        width: 50px;
    }

    .logo{
        size: 100px;
    }

    .container-landingPage{
        width: 100%;
    }

    .continue-watiching-title{
        margin-left: 150px;
    }

    .mostWatched-media{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .mostWatched-country-title{
        font-size:xx-large;
    }

    .banner-image{
        max-height: 20rem;
    }

    .container-info-movie{
        width: 100%;
        height: 18rem;
    }

    .mostPopular-container{
        height: 20rem;
        max-height: 20rem
    }

    .mostWatched-title{
        margin: 15px  0 0 0;
    }

    .movie-title{
        margin: 0 0 0 0;
    }

    .container{
        width: 80%;
        margin-left: 33px;
    }

    .sinopsis-container{
        width: 100%;
        max-height: 5rem;
        margin-bottom: 0;
    }

    .movie-sinopsis{
        font-size: 0.5rem;
    }

    .mostWatched-country{
        width: 100%;
    }

    .swiper-button-next{
        margin-left: 30px;
    }

    .container-recently-adde{
        width: 25.7rem;
    }

    .recently-added-title{
        margin-left: 3rem;
    }

    .container-card-large{
        display: flex;
        flex-direction: column;
        width: 24rem !important;
        margin-right: 1rem !important;
    }

    .footer{
        width: 25.7rem;
    }

    .image-footer{
        size: 50px;
    }

    .continue-watiching-title{
        margin-left: 30rem;
        font-size: 2rem;
    }

    .container-continueWatching{
        width: 100%;
    }
}


