.container{
    margin-top: 3rem;
    width: 36rem;
    height: 25rem;
    border-radius: 20px;
    background-color: #2F3241;
    overflow: hidden; /* Asegura que el contenido no sobresalga del contenedor */
    position: relative; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra moderna */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.container:hover {
    transform: translateY(-5px); /* Mueve el contenedor hacia arriba */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); /* Aumenta la sombra */
}

@media screen and (max-width: 1280px) {
    .container {
        width: 80%; /* Ajusta el ancho al 80% de la pantalla */
        height: auto; /* Ajusta la altura automáticamente */
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }
}

/* Ajustes para pantallas medianas (tablets y dispositivos intermedios) */
@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Ajusta el ancho al 90% de la pantalla */
        height: auto; /* Ajusta la altura según el contenido */
    }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media screen and (max-width: 412px) {
    .container {
        width: 100%; /* Ancho completo en pantallas muy pequeñas */
        height: auto;
        padding: 1rem; /* Agrega un pequeño padding para mejorar la visualización */
    }
}