.container-favorites-page{
    display: flex;
    flex-direction: column;
    width:93rem;
    align-items: center;
    margin-left: 3%;
    border: black solid 1px;
}

.titleFavorite{
    font-size: 3rem;
    padding: 2%;
    margin: 0;
    margin-bottom: 1rem;
    color: #F08080;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease;
}

.titleFavorite span{
    color: #BCECE0
}

.titleFavorite:hover{
    transform: translateY(-5px);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);  
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.favorites-grid {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    width: 90%;
    margin: auto;
}

.show-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 2%;
    height: 2.5rem;
    border-radius: 0.9rem;
    font-size: medium;
    color: white;
    background-color: #F08080;
    font-weight: bolder;
}

.show-more-button:hover{
    background-color: #BCECE0;
    color: black;
    border-radius: 50%;
    transition: 1s;
}

.continue-watching{
    font-size: 4rem;
    padding: 2%;
    margin: 0;
    color: #F08080;
}

.history-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    width: 90vw;
    margin: auto;
}