/*Global styles*/

body {
    margin: 0;
    background-color: #2a2d3c;
}

h1, h2, h3, h4, h5 {
    font-family: 'Technor', sans-serif;
}

p, section, article, div, button, input, select{
    font-family: 'Satoshi', sans-serif;
}

::-webkit-scrollbar {
    display: none; 
}

select{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}